{% import "macros.html" as macros %}
{% import "content.html" as content %}

<!DOCTYPE html>
<html lang="{{ lang }}">

  {{ macros::head() }}

  <body>

      {{ macros::lang_switcher(lang=lang, en_url=config.base_url ~ "/", ru_url=config.base_url ~ "/ru/") }}

      {{ macros::header(lang=lang) }}

      <section id="about">
        {{ content::about(lang=lang) }}
      </section>

      <section id="projects">
        {{ content::projects(lang=lang) }}
      </section>

      {% block content %}
      <p></p>
      {% endblock content %}


      {{ macros::footer() }}
      {{ macros::google_analytics() }}

  </body>
